
body {
    background-color: #f0f2f5;
}

#div0 {
    margin-top: 50px;
}

.pc {
    margin: auto;
    height: 2rem;
    text-align: center;
    font-weight: bold;
    background-color: #fff9d7;
}

.h1 {
    text-align: center;
    font-weight: 1600;
    font-size: 2.6rem;
    color: rgb(19, 126, 226);
    font-family: Verdana;
    margin-left: 500px;
    
}

#div1 {
    margin-left: 550px;
    margin-right: 20px;
    width: 10cm;
    height: 11cm;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(201, 190, 190);
    background-color: white;
}

#div2 {
    height: 398px;
    margin-top: 13px;
    padding-left: 17px;
}

#inp1 {
    height: 1.3cm;
    width: 8.5cm;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    font-size: 1rem;
    padding-left: 13px;
}

#inp2 {
        height: 1.3cm;
        width: 8.5cm;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.192);
        font-size: 1rem;
        padding-left: 13px;
}

#btn1 {
    width: 8cm;
    height: 1.3cm;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    color: white;
    background-color: rgb(19, 126, 226);
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 17px;
}

#a1 {
    text-decoration: none;
    text-align: center;
    color: rgb(15, 105, 179);
    font-family: Verdana;
    font-size: 0.9rem;
    margin-left: 110px;
}

#p2 {
    opacity: 0.3;
    display: inline-block;
}

#p3 {
    display: inline;
    opacity: 0.5;
}

#p4 {
    display: inline-block;
    opacity: 0.3;
}

#p5 {
    font-size: 16px;
    font-family: Verdana;
    text-align: center;
    padding-bottom: 10px;
}

#btn2 {
    color: white;
    background-color: #34aa1c;
    font-size: 17px;
    height: 1.3cm;
    width: 5cm;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 5px;
    font-weight: 600;
    margin-left: 80px;
}

#p6 {
    color: red;
    text-align: center;
}

#p7 {
    color: red;
}

#img1 {
    width: 301px;
    height: 90px;
    margin-left: 590px;
}

#img2 {
    width: 15px;
    height: 17px;
    display: inline;
}

@media only screen and
(min-width:1000px) {
    .h1 {
         margin-left: 15px;
    }
}